@page
@model CreateWorkoutModel
@{
    ViewData["Title"] = "Create a new Workout Plan";
}

<div>
    <h2>Select a Workout that you want to add</h2>
        
    @foreach (var plan in Model.Workouts)
    {
        <div id="workoutGrid" class="col-sm-6 col-lg-6 col-md-6">
            <div class="thumbnail">
                <a asp-page="WorkoutExercise" asp-route-id="@plan.WorkoutPlanId">
                    <img src="@plan.ImageUrl" class="img-responsive" alt="@plan.Name" />
                </a>
                <form asp-page-handler="AddWorkoutClient" method="post" asp-route-id="@plan.WorkoutPlanId">
                    <button class="btn btn-default">Add</button>
                    <input type="hidden" name="ClientId" value="@Model.ClientId">
                </form>
     
            </div>
        </div>
    }

</div>

